$color-tittle: #15a;
$side: bottom;
* {
  margin: 0;
  padding: 0;
}
header {
  h1 {
    $color-tittle: indigo; // Sobreescribo el valor
    color: $color-tittle;
  }
}
article.#{$side} {
  background-color: azure;
}
footer {
  position: fixed;
  #{$side}: 0; // Interpolación
  text-align: center;
  width: 100%;

  small,
  & a {
    color: $color-tittle;
  }
  a {
    text-decoration: none;
  }
}

@mixin button {
  // El mixin debe estar ANTES de usarlo con el import
  color: #fff;
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
@mixin border-button(
  $size: 1px,
  $style: solid,
  $color: transparent,
  $radius: 0.25rem
) {
  border: $size $style $color;
  border-radius: $radius;
}
@mixin border-button-args($args...) {
  border: $args;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .btn-login {
      @include button;
      @include border-button(1px, solid, transparent);
      /* @include border-button-args(1px, solid, transparent); */
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-register {
      @include button;
      @include border-button(1px, solid, transparent);
      // Podemos alterar el orden de los parámetros de entrada del mixin
      // Pero eso sí, indicando qué es cada cosa
      /* @include border-button($style: solid, $size: 1px, $color: transparent); */
      /* $border-prop: 1px, solid, transparent;
      @include border-button($border-prop); */
      background-color: #17a2b8;
      border-color: #17a2b8;
    }
  }
}
