*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: grid;
    background-color: aqua;
    grid-template-columns: repeat(2, 1fr) 2fr;
}
.child2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.child4{
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px 40px 50px;
}
.child44{
    grid-row: 3/4;
    grid-column: 3/4;
}