p {
    color: red;
}
#p1 {
    color: green;
}
.class1 {
    color: blue;
}
.classic{
    
}
button.classic.primary.large {
    /* Estilos CSS para aquellos elementos button que contengan todas esas clases */
  }