.container{
    display: grid;
    grid-template-areas:    "F1C1 F1C2 F1C3 F1C3" 
                            "F2C1 F2C2 F1C3 F1C3" 
                            "F3C1 F2C2 F2C3 F2C4" 
                            "F3C1 F4C2 F4C3 F4C4";
}
.item{
    border: 1px solid red;
}
.item1{
    grid-area: F1C3;
}
.item2{
    grid-area: F2C2;
}
.item3{
    grid-area: F3C1;
}
.item4{
    grid-area: F4C4;
}
.item5{
    grid-area: F1C1;
}